// variable
:root {
    --font-body: "Plus Jakarta Sans", sans-serif;
    --font-heading: 'JazminAlt';

    --color-primary: #a04444;
    --color-secondary: #304049;
    --color-heading:  #304049;

    --color-default:  #304049; 
    --color-dark:  #304049; 
    --color-border:  #cbcad3;
    --color-white: #fff;
    --color-black: #000;
    --color-body: #fff;
    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}