.appointment-inner {
	border-radius: 20px;
	overflow: hidden;
}
.appointment-form {
    padding: 80px 120px;
    background: linear-gradient(90deg, rgba(222, 135, 133, 0.2) 0%, rgba(170, 133, 222, 0.2) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    @include respond(laptop) {
        padding: 80px 70px;
    }
    @include respond(lg) {
        padding: 80px 30px;
    }
    h2 {
        font-size: 60px;
        margin-bottom: 27px;
        text-transform: capitalize;
        @include respond(laptop) {
            font-size: 50px;
        }
        @include respond(lg) {
            font-size: 45px;
        }
        @include respond(xs) {
            font-size: 35px;
        }
    }
    .shape {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .xb-input-field {
        position: relative;
        display: block;
        margin-bottom: 15px;
        input,
        textarea {
            height: 55px;
            outline: none;
            font-size: 15px;
            padding: 10px 20px;
            transition: all 0.3s ease;
            @include border-radius(30px);
            background: var(--color-white);
            color: var(--color-heading);
            border: 1px solid transparent;
            &::placeholder {
                color: rgba(4, 14, 31, 0.5);
            }
            &:focus {
                border: 1px solid var(--color-primary);
            }
        }
        .nice-select {
            background-color: var(--color-white);
            @include border-radius(30px);
            height: 55px;
            line-height: 54px;
            min-height: 55px;
            font-size: 14px;
            color: rgba(4, 14, 31, 0.5);
            margin-bottom: 15px;
            &.open {
                @include border-radius(30px 30px 0 0);
            }
            .list {
                margin-top: -1px;
                .option {
                    color: #040E1F;
                }
            }
            &::after {
                border-bottom: 1.9px solid black;
                border-right: 1.9px solid black;
                height: 8px;
                right: 20px;
                width: 8px;
            }
        }
        label {
            position: absolute;
            left: 20px;
            top: 50%;
            font-size: 15px;
            white-space: nowrap;
            pointer-events: none;
            display: inline-block;
            transition: all 0.3s ease;
            transform: translateY(-50%);
            text-transform: capitalize;
            color: rgba(10, 43, 80, 0.7);
        }
        input:focus + label,
        input:valid + label,
        textarea:focus + label,
        textarea:valid + label {
            transform: translate(15px, -50%);
            opacity: 0;
        }
        .icon {
            position: absolute;
            right: 20px;
            top: 44%;
            transform: translateY(-50%);
        }
    }
    .thm-btn {
        margin-top: 15px;
        width: 100%;
    }
} 
@media (min-width: 1400px) {
    .ui-widget.ui-widget-content {
        margin-left: -33px;
    }
}

.ui-widget-header {
	color: #fff;
	font-weight: bold;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid var(--color-primary);
	background: var(--color-primary);
	color: #fff;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
	border: 1px solid var(--color-primary);
	background: var(--color-primary);
	font-weight: normal;
	color: #fff;
	opacity: .7;
}
.appointment-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
    padding: 86px 120px;
    @include respond(laptop) {
        padding: 86px 60px;
    }
    @include respond(lg) {
        padding: 60px 50px;
    }
    @include respond(md) {
        min-height: 300px;
    }
    @include respond(xs) {
        padding: 60px 20px;
    }
    h2 {
        font-size: 60px;
        color: var(--color-white);
        padding-bottom: 21px;
        margin-bottom: 37px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        @include respond(lg) {
            font-size: 40px;
        }
    }
}
.appointment-info-title {
    font-size: 16px;
    color: var(--color-white);
    font-weight: 600;
    font-family: var(--font-body);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.appointment-info-inner {
    display: flex;
    gap: 30px 70px;
    @include respond(lg) {
        flex-wrap: wrap;
    }
}
.appointment-info-item {
    width: 50%;
    @include respond(lg) {
        width: 100%;
    }
    .xb-item {
        &--icon {
            width: 50px;
            height: 50px;
            @include border-radius(50%);
            background-color: rgba(255, 255, 255, 0.14);
            border: 1px solid rgba(255, 255, 255, 0.24);
            @include center;
            margin-bottom: 10px;
        }
        &--title {
            color: var(--color-white);
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            font-family: var(--font-body);
            @include respond(laptop) {
                font-size: 16px;
                line-height: 29px;
            }
        }
    }
}