.blog-item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
    @include respond(xs) {
        flex-wrap: wrap;
        height: auto;
    }
    &:hover {
        .xb-item {
            &--image {
                width: 900px;
                @include respond(lg) {
                    width: 446px;
                }
            }
        }
    }
    .xb-item {
        &--content {
            background-color: var(--color-white);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 35px 60px;
            @include border-radius(20px);
            width: 100%;
            @include respond(lg) {
                padding: 35px 40px;
            }
            @include respond(xs) {
                order: 2;
            }
            @include respond(xs) {
                padding: 35px;
            }
        }
        &--content-inner {
            max-width: 900px;
        }
        &--image {
            @include border-radius(20px);
            overflow: hidden;
            width: 446px;
            height: 250px;
            @include transition(.3s);
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &--date {
            background: #f8e7e8;
            display: inline-block;
            min-width: 70px;
            height: 70px;
            @include center;
            display: inline-flex;
            flex-direction: column;
            @include border-radius(6px);
            margin-bottom: 30px;
            h3 {
                font-family: var(--font-body);
                font-weight: 700;
                font-size: 30px;
                text-transform: capitalize;
                color: #a04444;
            }
            span {
                font-weight: 500;
                font-size: 16px;
                color: #a04444;
            }
        }
        &--title {
            font-family: var(--font-body);
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            color: #304049;
            @include respond(laptop) {
                font-size: 22px;
                line-height: 36px;
                max-width: 580px;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                max-width: 470px;
            }
            @include respond(lg) {
                font-size: 22px;
                line-height: 32px;
            }
            a {
                color: currentColor;
            }
        }
    }
}
.blog-inner {
    padding: 0 40px;
    @include respond(xs) {
        padding: 0;
    }
}
.blog-btn {
    .thm-btn {
        min-width: 222px;
    }
}
.blog-single {
    .xb-item {
        &--image {
            @include border-radius(20px);
            overflow: hidden;
            margin-bottom: 30px;
            img {
                @include transition(.3s);
            }
        }
        &--content {
            max-width: 452px;
        }
        &--cat {
            background-color: #eaf2ff;
            font-weight: 400;
            font-size: 16px;
            color: #304049;
            @include border-radius(20px);
            display: inline-block;
            padding: 2px 32px;
            margin-bottom: 20px;
        }
        &--title {
            font-weight: 500;
            font-size: 30px;
            line-height: 38px;
            color: #304049;
            margin-bottom: 20px;
            @include respond(lg) {
                font-size: 24px;
                line-height: 32px;
            }
            a {
                color: currentColor;
            }
        }
        &--date {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: #5c5c5c;
        }
    }
    &:hover {
        .xb-item {
            &--image {
                img {
                    @include transform(scale(1.15))
                }
            }
        }
    }
}
.blog-head {
    gap: 30px;
    border-top: 1px solid rgba(48, 64, 73, 0.5);
    padding-top: 60px;
}
.counceling-blog-btn {
    .thm-btn {
         min-width: 200px;
    }
}
.sidebar-widget {
	padding-right: 60px;
    @include respond(lg) {
        padding-right: 10px;
    }
}
.blog-post-inner {
	margin-left: -10px;
    @include respond(lg) {
        margin-left: 0;
    }
}
.blog-post-item {
    &:hover {
        .xb-item {
            &--image {
                img {
                    @include transform(scale(1.07));
                }
            }
        }
    }
    .xb-item {
        &--image {
            position: relative;
            overflow: hidden;
            @include border-radius(20px);
            @include respond(xs) {
                height: 500px;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            &::before {
                position: absolute;
                bottom: -75px;
                left: 50%;
                filter: blur(300px);
                width: 118%;
                height: 64%;
                content: "";
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                background: #000;
                z-index: 1;
            }
            img {
                @include transition(.3s);
            }
        }
        &--content-inner {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 50px;
            z-index: 2;
            @include respond(md) {
                padding: 40px;
            }
        }
        &--cat {
            font-weight: 400;
            font-size: 16px;
            display: inline-block;
            text-align: center;
            color: #304049;
            background-color: var(--color-white);
            padding: 5px 23px;
            @include border-radius(20px);
            margin-bottom: 22px;
            line-height: 1.2;
        }
        &--title {
            font-weight: 400;
            font-size: 25px;
            line-height: 35px;
            color: #fff;
            margin-bottom: 13px;
            max-width: 514px;
            a {
                color: currentColor;
            }
        }
        &--content {
            font-size: 14px;
            line-height: 24px;
            color: var(--color-white);
            max-width: 603px;
        }
        &--meta-inner {
            gap: 20px;
            margin-top: 10px;
        }
        &--meta {
            li {
                font-weight: 400;
                font-size: 18px;
                color: #5c5c5c;
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                &:not(:last-child) {
                    margin-right: 10px;
                    padding-right: 10px;
                    &::before {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 1px;
                        height: 17px;
                        content: "";
                        @include transform(translateY(-50%));
                        background-color: currentColor;
                    }
                }
                span {
                    font-weight: 600;
                }
            }
            &--right {
                li {
                    &:not(:last-child) {
                        margin-right: 50px;
                        padding-right: 0;
                        &::before {
                            display: none;
                        }
                    }
               
                }
            }
        }
    }
    &--featured {
        padding-bottom: 40px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        .xb-item {
            &--image {
                &::before {
                    bottom: -120px;
                }
            }
            &--title {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 17px;
                max-width: 1087px;
                @include respond(md) {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            &--content {
                max-width: 853px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
.widget {
    .widget-title {
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 40px;
        color: #304049;
        @include respond(lg) {
            margin-bottom: 25px;
            font-size: 28px;
        }
    }
}
.widget-search {
    position: relative;
    input {
        font-weight: 400;
        font-size: 18px;
        background-color: transparent;
        padding-left: 44px;
        border-bottom: 1px solid rgba(48, 64, 73, 0.5);
        height: 50px;
        &:focus {
            border-color: var(--color-dark);
        }
        &::placeholder {
            color: rgba(48, 64, 73, 0.5);
        }
    }
    button {
        position: absolute;
        top: 46%;
        left: 0;
        @include transform(translateY(-50%));
        background-color: transparent;
    }
}
.widget-category {
    li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        a {
            font-weight: 400;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #304049;
            background: rgba(255, 166, 166, 0.2);
            padding: 9px 14px;
            @include border-radius(50px);
            line-height: 1.2;
            &:hover {
                color: var(--color-white);
                background-color: var(--color-primary);
            }
        }
    }
}
.recent-post-item {
    &:not(:last-child) {
        margin-bottom: 28px;
    }
    .xb-item {
        &--image {
            margin-bottom: 22px;
            max-width: 243px;
            @include border-radius(20px);
            overflow: hidden;
            img {
                @include transition(.3s);
            }
        }
        &--title {
            font-weight: 500;
            font-size: 22px;
            line-height: 32px;
            color: #304049;
            margin-bottom: 5px;
            a {
                color: currentColor;
            }
        }
        &--meta {
            font-weight: 400;
            font-size: 16px;
            color: #5c5c5c;
        }
    }
    &:hover {
        .xb-item {
            &--image {
                img {
                    @include transform(scale(1.1));
                }
            }
        }
    }
}
.blog-post-single {
    padding-bottom: 70px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    .xb-item {
        &--title {
            color: var(--color-heading);
            font-size: 40px;
            line-height: 50px;
            max-width: 100%;
        }
    }
}
.post-details {
    h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        color: #304049;
        margin-bottom: 30px;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #304049;
        margin-bottom: 30px;
    }
    h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        color: #304049;
        margin-bottom: 30px;
    }
}

blockquote {
    background-color: var(--color-white);
    padding: 45px 50px 36px;
    @include border-radius(20px);
}
.quote-author {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    .xb-item {
        &--avatar {
            width: 74px;
            height: 74px;
            @include border-radius(50%);
            overflow: hidden;
        }
        &--name {
            font-weight: 600;
            font-size: 20px;
            color: #304049;
        }
    }
}


.post-tags-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    margin-top: 70px;
    .title {
        font-weight: 400;
        font-size: 25px;
        font-family: var(--font-heading);
        margin-top: 18px;
    }
    .tags {
        gap: 20px;
        ul {
            margin-top: 10px;
            li {
                margin-top: 10px;
                &:not(:last-child) {
                    margin-right: 16px;
                }
                a {
                    color: #304049;
                    background: rgba(255, 166, 166, 0.2);
                    min-height: 26px;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    text-decoration: none;
                    font-weight: 400;
                    padding: 2px 17px;
                    position: relative;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    &:hover {
                        color: #fff;
                        background-color: var(--color-primary);
                    }
                }
            }
        }
    }
    .social-share {
        gap: 20px;
        ul {
            margin-top: 10px;
            li {
                margin-top: 10px;
                &:not(:last-child) {
                    margin-right: 12px;
                }
                a {
                    @include border-radius(50%);
                    width: 45px;
                    height: 45px;
                    color: #4A4C51;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    font-size: 17px;
                    position: relative;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    &:hover {
                        color: var(--color-white);
                        background-color: var(--color-primary);
                    }
                }
            }
        }
    }
  }
/* comment css */
.post-comments {
    padding-bottom: 55px;
  }
  .post-comments .title {
    font-size: 26px;
    margin-bottom: 25;
    font-weight: 500;
    font-family: var(--font-body);
  }
  
  .latest__comments .comments-box {
    border-top: 1px solid var(--color-border-2);
    padding: 30px 0;
  }
  .latest__comments .comments-text {
    overflow: hidden;
  }
  .latest__comments .comments-avatar {
    border-radius: 50%;
    float: left;
  }
  @media (max-width: 767px) {
    .latest__comments .comments-avatar {
      float: none;
      margin-bottom: 10px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .latest__comments .comments-avatar {
      float: left;
      margin-bottom: 0px;
    }
  }
  .latest__comments .comments-avatar img {
    border-radius: 50%;
    width: 100px !important;
    margin-right: 30px;
  }
  .latest__comments li:last-child .comments-box {
    padding-bottom: 0px;
  }
  .latest__comments li:first-child .comments-box {
    border-top: 0;
    padding-top: 0;
  }
  .latest__comments li.children {
    margin-left: 100px;
  }
  @media (max-width: 767px) {
    .latest__comments li.children {
      margin-left: 0px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .latest__comments li.children {
      margin-left: 50px;
    }
  }
  .latest__comments .avatar-name {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
  }
  .latest__comments .avatar-name h5 {
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 500;
    font-family: var(--font-body);
  }
  .latest__comments .avatar-name span {
    font-size: 15px;
    color: var(--color-default);
  }
  .latest__comments .reply {
    color: var(--color-black);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    line-height: 1;
    position: absolute;
    right: 0;
    margin-top: 0;
    top: 0;
    text-decoration: none;
  }
  .latest__comments .reply i {
    margin-right: 5px;
  }
  .latest__comments .reply:hover {
    color: var(--color-primary);
  }
  .latest__comments--2 p {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-black);
  }
  .comments-form {
	background: #fff;
	padding: 40px;
    @include border-radius(20px);
}
  
  .comments-form .title {
    font-weight: 400;
    font-size: 40px;
    color: #304049;
    margin-bottom: 30px;
  }
  .comments-form .form input,
  .comments-form .form textarea {
    height: 58px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    font-size: 15px;
    color: var(--color-dark);
    @include border-radius(10px);
    background-color: #fff;
    border: 2px solid rgba(48, 64, 73, 0.2);
    font-weight: 400;
  }
  .comments-form .form input::-webkit-input-placeholder, .comments-form .form textarea::-webkit-input-placeholder {
    color: #6E6D79;
    opacity: 1;
  }
  .comments-form .form input::-moz-placeholder, .comments-form .form textarea::-moz-placeholder {
    color: #6E6D79;
    opacity: 1;
  }
  .comments-form .form input:-ms-input-placeholder, .comments-form .form textarea:-ms-input-placeholder {
    color: #6E6D79;
    opacity: 1;
  }
  .comments-form .form input:-moz-placeholder, .comments-form .form textarea:-moz-placeholder {
    color: #6E6D79;
    opacity: 1;
  }
  .comments-form .form input:focus, .comments-form .form textarea:focus {
    border-color: var(--color-primary);
  }
  .comments-form .form textarea {
    padding: 20px 30px;
    height: 150px;
  }
  .comments-form__btn button {
    padding: 16px 35px;
    min-width: 100%;
  }
  