.thm-btn {
	padding: 17px 20px;
	min-width: 334px;
	@include center;
	display: inline-flex;
	color: #304049;
	@include transition(.3s);
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background: var(--color-white);
	font-family: var(--font-heading);
	font-weight: 600;
	font-size: 20px;
	overflow: hidden;
	span {
		position: relative;
		margin-left: -34px;
		@include transition(.3s);
		&::before,
		&::after {
			position: absolute;
			content: '';
			left: -17px;
			top: 55%;
			height: 16px;
			width: 24px;
			transform: translateY(-50%);
			@include transition(.3s);
			background-image: url(../img/icon/arrow_right.svg);
			background-repeat: no-repeat;
		}
		&::before {
			left: auto;
			right: -40px;
			opacity: 1;
		}
		&::after {
			opacity: 0;
			transform: translate(-20px, -50%);
			filter: brightness(100);
		}
	}
	&:hover {
		background: var(--color-primary);
		color: var(--color-white);
		span {
			margin-left: 12px;
			padding-left: 22px;
			&::before {
				opacity: 0;
				right: -50px;
			}
			&::after {
				opacity: 1;
				transform: translate(0, -50%);
			}
		}
	}
	&.hover-dark:hover {
		background-color: var(--color-dark);
		color: var(--color-white);
		span:after {
			filter: brightness(100);
		}
	}
	&.mw-238 {
		min-width: 238px;
	}
	&--primary {
		background-color: var(--color-primary);
		color: var(--color-white);
		span {
			&::before {
				filter: brightness(100);
			}
			&::after {
				opacity: 0;
				transform: translate(-20px, -50%);
				filter: brightness(0);
			}
		}
		&:hover {
			background-color: var(--color-white);
			color: #304049;
		}
	}
	&--dark {
		background-color: #304049;
		color: var(--color-white);
		span {
			&::before {
				filter: brightness(100);
			}
			&::after {
				opacity: 0;
				transform: translate(-20px, -50%);
				filter: brightness(0);
			}
		}
		&:hover {
			background-color: var(--color-white);
			color: #304049;
		}
	}
	&--sm {
		font-size: 16px;
		padding: 16px 20px;
		font-weight: 600;
		&:hover span {
			padding-left: 15px;
		}
		span {
			&::before,
			&::after {
				background-image: url(../img/icon/arrow_right2.svg);
			}
		}
	}
	&--cirlce {
		@include border-radius(30px);
		font-size: 16px;
		padding: 16px 20px;
		font-weight: 500;
		&:hover span {
			padding-left: 20px;
			margin-left: 40px;
		}
		span {
			margin-left: -50px;
			&::before,
			&::after {
				top: 50%;
				width: 38px;
				background-image: url(../img/icon/arrow_right4.svg);
			}
			&::before {
				right: -60px;
			}
			&::after {
				left: -40px;
			}
		}
	}
}

.anim-btn {
	@include border-radius(30px);
	letter-spacing: 0.7px;
	padding: 10px 37px;
	background-color: var(--color-white);
	color: #03080B;
	font-weight: 600;
	font-family: var(--font-heading);
	display: inline-block;
	overflow: hidden;
	font-size: 16px;
	.btn-anim-wrap {
		transition: opacity .6s,transform .8s;
		transition-timing-function: ease, ease;
		transition-timing-function: cubic-bezier(.15,.85,.31,1);
		display: inline-block;
		.button-text {
			transition: opacity .6s,transform .8s;
			transition-timing-function: ease, ease;
			transition-timing-function: cubic-bezier(.15,.85,.31,1);
			flex-grow: 1;
			order: 10;
			display: inline-block;
			color: currentColor;
			&:nth-child(2) {
				display: inline-block;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,80%);
				opacity: 0;
				color: currentColor;
			}
		}
	}
	&:hover {
		background-color: var(--color-secondary);
		color: #fff;
		.button-text:nth-child(1) {
			opacity: 0;
		}
		.button-text:nth-child(2) {
			transform: translate(-50%,100%);
			opacity: 1;
		}
		.btn-anim-wrap {
			transform: translateY(-150%);
		}
	}
	&.btn-dark {
		background-color: #222528;
		color: var(--color-white);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -1px;
			left: -1px;
			right: -1px;
			bottom: -1px;
			border-radius: inherit;
			padding: 1px;
			-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
			mask-composite: add, add;
			-webkit-mask-composite: source-out;
			mask-composite: exclude;
			background: var(--Linear, linear-gradient(316deg, #121212 15.47%, #333 84.34%));
		}
		&:hover {
			color: #03080B;
			background-color: var(--color-white);
		}
	}
}
