.cta-image {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    @include respond(lg) {
        width: 130%;
    }
    @include respond(md) {
        width: 160%;
    }
    @include respond(xs) {
        width: 282%;
    }
    img {
        animation: spin 70s linear infinite;
    }
}
.cta-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: -1;
}
.cta-content-inner {
    .sec-title {
        .xb-item {
            &--content {
                max-width: 812px;
            }
        }
    }
}
.cta-inner {
    padding: 80px 25px;
    margin-left: -16px;
    @include respond(laptop) {
        margin-left: 20px;
    }
    @include respond(lg) {
        margin-left: 15px;
    }
    @include respond(md) {
        margin-left: 0;
    }
}
.cta-item {
    padding-left: 55px;
    padding-right: 55px;
    @include respond(laptop) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respond(lg) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respond(xs) {
        padding-left: 0;
        padding-right: 0;
    }
    &:not(:last-child) {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1.5px solid rgba(48, 64, 73, 0.1);
    }
    h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 133%;
        text-transform: uppercase;
        margin-bottom: 20px;
        @include respond(lg) {
            font-size: 22px;
        }
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 144%;
        text-transform: capitalize;
        color: #304049;
    }
}
.cta-btn {
    .thm-btn {
        min-width: 247px;
    }
}