.faq-inner {
    padding: 0 212px;
    @include respond(laptop) {
        padding: 0 50px;
    }
    @include respond(lg) {
        padding: 0 20px;
    }
    @include respond(xs) {
        padding: 0;
    }
}
.faq-form-inner {
    .sec-title {
        @include respond(md) {
            margin-bottom: 50px;
        }
        @include respond(xs) {
            margin-bottom: 30px;
        }
    }
}
.xb-faq {
    position: relative;
    .accordion_box {
        @include border-radius(20px);
        background: #fff;
        padding: 38px 0;
        padding-bottom: 30px;
        .block {
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid rgba(48, 64, 73, 0.3);
            &:last-child {
                border-bottom: 0;
                .content {
                    border-bottom: 0;
                }
            }
            &.active-block {
                border-bottom: none;
                .acc-btn {
                    .number {
                        color: var(--color-white);
                    }
                    .arrow {
                        &::before {
                            content: "\f068";
                            transform: rotate(180deg);
                            color: var(--color-dark);
                        }
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
            .acc-btn {
                padding: 40px 82px;
                line-height: 1.3;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                font-family: var(--font-heading);
                font-weight: 400;
                font-size: 32px;
                color: #304049;
                @include respond(md) {
                    font-size: 25px;
                    padding: 30px 40px;
                    padding-right: 70px;
                }
                @include respond(xs) {
                    font-size: 20px;
                    padding: 25px;
                    padding-right: 50px;
                }
                .arrow {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    right: 40px;
                    transform: translateY(-50%);
                    @include respond(xs) {
                        right: 25px;
                    }
                    span {
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        position: absolute;
                    }
                    &::before {
                        position: absolute;
                        top: -18px;
                        right: 0;
                        font-size: 14px;
                        font-size: 27px;
                        font-weight: 500;
                        content: "\f067";
                        font-family: "Font Awesome 5 Pro";
                        color: var(--color-dark);
                        transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                        @include respond(md) {
                            font-size: 20px;
                        }
                    } 
                }
                .number {
                    @include transition(.3s);
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .acc_body {
                position: relative;
                display: none;
                &.current {
                    display: block;
                }
            }
            .content {
                padding: 0 255px 50px 80px;
                border-bottom: 1px solid rgba(48, 64, 73, 0.3);
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #304049;
                @include respond(md) {
                    padding: 0 109px 40px 40px;
                }
                @include respond(xs) {
                    padding: 25px;
                    padding-top: 0;
                    font-size: 16px;
                    line-height: 28px;
                }
                p {
                    margin-bottom: 15px;
                }
                ul li {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                    i {
                        margin-right: 10px;
                        font-size: 16px;
                        color: var(--color-primary-two);
                    }
                }
            }
        }
    }
}
.faq-form {
    background-color: var(--color-white);
    padding: 110px 81px;
    @include border-radius(20px);
    @include respond(md) {
        padding: 80px 50px;
    }
    @include respond(xs) {
        padding: 40px 25px;
    }
    .xb-item {
        &--item {
            margin-bottom: 54px;
            @include respond(md) {
                margin-bottom: 30px;
            }
            input,
            textarea {
                height: 101px;
                border: 2px solid rgba(48, 64, 73, 0.2);
                @include border-radius(10px);
                background-color: var(--color-white);
                font-size: 20px;
                padding: 20px;
                &:focus,
                &:hover {
                    border-color: var(--color-primary);
                }
                @include respond(md) {
                    height: 70px;
                }
            }
            textarea {
                min-height: 300px;
                @include respond(md) {
                    min-height: 150px;
                }
            }
            label {
                font-weight: 400;
                font-size: 20px;
                color: #304049;
                margin-bottom: 11px;
            }
            p {
                font-weight: 400;
                font-size: 18px;
                color: rgba(48, 64, 73, 0.3);
                margin-top: 10px;
            }
        }
    }
}
.faq-form-btn {
    .thm-btn {
        min-width: 280px;
    }
}