.hero-style-one {
    position: relative;
    z-index: 1;
    .hero-inner {
        padding-top: 200px;
        @include respond(md) {
            @include border-radius(0 0 20px 20px);
        }
        @include respond(xs) {
            padding-top: 170px;
        }
    }
    &.animated {
        .hero-one-image {
            @include transform(scale(1));
            opacity: 1;
        }
    }
}
.hero-height {
    min-height: 820px;
}
.hero-inner {
    display: flex;
    align-items: end;
    padding-bottom: 60px;
}
.hero-one-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include transform(scale(1.2));
    transition: all 0.8s cubic-bezier(.54,.12,.07,.88);
    opacity: 0;
    background-position-x: 62.8%;
}
.hero-content {
    .xb-item {
        &--subtitle {
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            display: inline-block;
            margin-bottom: 54px;
            backdrop-filter: blur(14px);
            background: rgba(34, 34, 34, 0.1);
            padding: 5px 20px;
            @include border-radius(4px);
            @include respond(xs) {
                margin-bottom: 40px;
            }
        }
        &--title {
            font-weight: 500;
            font-size: 85px;
            line-height: 1.06;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 11px;
            @include respond(laptop) {
                font-size: 70px;
            }
            @include respond(lg) {
                font-size: 65px;
            }
            @include respond(xs) {
                font-size: 40px;
            }
        }
        &--content {
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #fff;
            margin-bottom: 44px;
            max-width: 830px;
            @include respond(xs) {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}
.hero-top-content {
    padding: 20px 15px;
    display: block;
    font-weight: 500;
    a {
        color: var(--color-primary);
        font-weight: 500;
        font-family: var(--font-heading);
        text-decoration: underline;
        font-weight: 600;
    }
    @include respond(lg) {
        font-size: 16px;
    }
    @include respond(md) {
        display: none;
    }
}
.hero-info {
    max-width: 513px;
    overflow: hidden;
    float: right;
    display: flex;
    align-items: center;
    padding: 39px 38px;
    @include respond(laptop) {
        padding: 39px 20px;
    }
    @include respond(lg) {
        float: none;
    }
    @include respond(xs) {
        flex-wrap: wrap;
        gap: 30px;
    }
    .xb-item {
        &--image {
            width: 178px;
            margin-right: 40px;
            @include respond(laptop) {
                width: 170px;
                margin-right: 25px;
            }
            @include respond(xs) {
                width: 100%;
            }
        }
        &--content {
            width: calc(100% - 218px);
            @include respond(laptop) {
                width: calc(100% - 195px);
            }
            @include respond(xs) {
                width: 100%;
            }
        }
        &--title {
            font-family: var(--font-body);
            font-weight: 700;
            font-size: 24px;
            line-height: 125%;
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 16px;
        }
        &--desc {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 25px;
        }
        &--btn {
            background-color: #b1f1ff;
            padding: 11px 20px;
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            color: #304049;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            font-family: var(--font-heading);
            line-height: 1.2;
            &:hover {
                background-color: var(--color-primary);
                color: var(--color-white);
                svg path {
                    fill: var(--color-white);
                }
            }
            svg {
                margin-left: 10px;
                path {
                    @include transition(.3s);
                }
            }
        }
    }
}
.hero-style-two {
    min-height: 1005px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0;
    z-index: 1;
    position: relative;
    @include respond(lg) {
        padding-top: 220px;
        min-height: 760px;
    }
    @include respond(xs) {
        padding-top: 180px;
    }
    &.animated {
        .hero-two-image {
            @include transform(scale(1));
            opacity: 1;
        }

    }
}
.hero-two-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include transform(scale(1.3));
    transition: all 0.7s cubic-bezier(.54,.12,.07,.88);
    opacity: 0;
    background-position-x: 74%;
}
.hero-content-two {
    .xb-item {
        &--subtitle {
            font-family: 'Segoe Script';
            font-weight: 700;
            font-size: 24px;
            display: inline-block;
            text-align: center;
            color: #fff;
            margin-bottom: 42px;
            @include respond(xs) {
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
        &--title {
            font-size: 90px;
            color: var(--color-white);
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 40px;
            @include respond(laptop) {
                font-size: 70px;
            }
            @include respond(lg) {
                font-size: 60px;
            }
            @include respond(xs) {
                font-size: 40px;
                img {
                    width: 50px;
                }
                br {
                    display: none;
                }
            }
        }
    }
}
.hero-content-bottom {
    gap: 20px 38px;
    .xb-item {
        &--content {
            font-size: 20px;
            max-width: 658px;
            color: var(--color-white);
            text-align: left;
            line-height: 30px;
            @include respond(xs) {
                text-align: center;
            }
        }
    }
    .thm-btn {
        min-width: 238px;
    }
}
.hero-style-three {
    min-height: 1050px;
    background-color: var(--color-primary);
    display: flex;
    align-items: end;
    padding-left: 80px;
    padding-bottom: 80px;
    z-index: 1;
    padding-top: 180px;
    overflow: hidden;
    @include respond(laptop) {
        padding-left: 0;
        min-height: 900px;
    }
    @include respond(lg) {
        padding-top: 220px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @include respond(xs) {
        padding-top: 160px;
        padding-left: 0;
        padding-right: 0;
    }
}
.counceling-hero-content {
    padding-right: 150px;
    @include respond(laptop) {
        padding-right: 0;
    }
    @include respond(lg) {
        padding-right: 0;
    }
    .xb-item {
        &--title {
            font-size: 85px;
            color: #fff;
            margin-bottom: 75px;    
            line-height: 93px;
            @include respond(laptop) {
                font-size: 50px;
                margin-bottom: 30px;
                line-height: 65px;
            }
            @include respond(lg) {
                font-size: 70px;
                line-height: 1.2;
                margin-bottom: 40px;
            }
            @include respond(md) {
                font-size: 60px;
            }
            @include respond(xs) {
                font-size: 40px;
            }
        }
        &--content {
            font-weight: 400;
            font-size: 22px;
            line-height: 34px;
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 70px;
        }
    }

}
.counceling-hero-cta {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 22px 43px;
    padding-left: 18px;
    justify-content: space-between;
    max-width: 614px;
    @include respond(laptop) {
        margin-right: -50px;
    }
    @include respond(xs) {
        flex-wrap: wrap;
    }
    &.glass {
        background: rgba(255, 255, 255, 0.11);
        border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .xb-item {
        &--content-wrap {
            display: flex;
            align-items: center;
            gap: 21px;
        }
        &--content {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #fff;
            max-width: 225px;
        }
    }
}
.hero-avatar {
    display: flex;
    align-items: center;
    gap: 20px;
    .xb-item {
        &--desc {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            color: #fff;
        }
    }
}
.hero-video {
	position: absolute;
	top: 0;
	right: 0;
	width: 51.30%;
	height: 100%;
	object-fit: cover;
    @include respond(laptop) {
        width: 44%;
    }
    @include respond(lg) {
        position: unset;
        width: 100%;
        height: 400px;
        margin-top: 30px;
    }
}
.conunceling-hero-shape {
    position: absolute;
    top: -4px;
    left: 29%;
    z-index: -1;
}