.sec-title {
    .xb-item {
        &--subtitle {
            font-weight: 600;
            font-size: 16px;
            color: #304049;
            display: inline-block;
            margin-bottom: 15px;
            background: rgba(34, 34, 34, 0.06);
            padding: 6px 20px;
            @include border-radius(6px);
            line-height: 1.3;
        }
        &--title {
            font-weight: 500;
            font-size: 60px;
            color: var(--color-heading);
            @include respond(lg) {
                font-size: 50px;
            }
            @include respond(md) {
                font-size: 40px;
            }
            @include respond(xs) {
                font-size: 28px;
                br {
                    display: none;
                }
            }
            span {
                color: var(--color-primary);
            }
        }
        &--title-sm {
            font-family: var(--font-body);
            font-weight: 500;
            font-size: 30px;
            line-height: 38px;
            color: #304049;
        }
        &--content {
            font-weight: 500;
        }
    }
    &--white {
        .xb-item {
            &--subtitle,
            &--title,
            &--content {
                color: var(--color-white) !important;
            }
            &--subtitle {
                background: rgba(255, 255, 255, 0.06);
            }
        }
    }
    &--two {
        .xb-item {
            &--subtitle {
                font-family: 'Segoe Script';
                font-weight: 700;
                font-size: 24px;
                display: inline-block;
                text-align: center;
                color: var(--color-primary);
                margin-bottom: 22px;
                background-color: transparent;
                padding: 0;
            }
            &--title {
                text-transform: uppercase;
                @include respond(laptop) {
                    font-size: 46px;
                }
            }
            &--content {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                @include respond(lg) {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    &--three {
        .xb-item {
            &--subtitle {
                background: transparent;
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                position: relative;
                padding: 0;
                padding-left: 20px;
                margin-bottom: 30px;
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    @include transform(translateY(-50%));
                    width: 10px;
                    height: 10px;
                    @include transform(translateY(-50%));
                    content: "";
                    background-color: currentColor;
                    @include border-radius(50%);
                }
            }
            &--title {
                text-transform: capitalize;
               font-size: 60px;
               @include respond(lg) {
                font-size: 50px;
               }
               @include respond(xs) {
                font-size: 35px;
               }
            }
            &--content {
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
            }
        }
    }
    &--xl {
        .xb-item {
            &--title {
                font-size: 65px;
                line-height: 75px;
                @include respond(laptop) {
                    font-size: 55px;
                    line-height: 70px;
                }
                @include respond(lg) {
                    font-size: 50px;
                    line-height: 60px;
                }
                @include respond(xs) {
                    font-size: 35px;
                    line-height: 42px; 
                }
            }
            &--content {
                font-size: 20px;
                line-height: 32px;
                font-weight: 400;
            }
        }
    }
}