.team-inner {
	padding: 0 35px;
    @include respond(lg) {
        padding: 0px;
    }
}
.team-single {
    .xb-item {
        &--image {
            overflow: hidden;
            @include border-radius(20px);
            margin-bottom: 27px;
            img {
                @include transition(.3s);
            }
        }
        &--name {
            font-weight: 600;
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 7px;
            a {
                color: currentColor;
            }
        }
        &--desig {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #304049;
        }
    }
    &:hover {
        .xb-item--image img {
            @include transform(scale(1.1));
        }
    }
}
.team-single-inner {
	padding: 0 35px;
    @include respond(laptop) {
        padding: 0 15px;
    }
    @include respond(md) {
        padding: 0px 15px;
    }
    @include respond(xs) {
        padding: 0;
    }
}
.team-single-img {
    @include border-radius(20px);
	overflow: hidden;
	margin-bottom: 55px;
    @include respond(xs) {
        margin-bottom: 30px;
    }
}
.team-single-info {
    padding-right: 60px;
    @include respond(md) {
        padding-right: 0;
    }
    .xb-item {
        &--name {
            font-weight: 500;
            font-size: 40px;
            line-height: 125%;
            color: #304049;
            margin-bottom: 12px;
            @include respond(xs) {
               font-size: 30px;
            }
        }
        &--desig {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.8;
            color: #304049;
            margin-bottom: 42px;
            span {
                font-weight: 500;
            }
        }
        &--desc {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #304049;
            margin-bottom: 46px;
            span {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 5px;
                display: inline-block;
            }
        }
    }
}
.skill-wrap {
	max-width: 390px;
    @include respond(xs) {
        padding-right: 50px;
    }
}
.skill-item {
    &:not(:last-child) {
        margin-bottom: 38px;
    }
    h4 {
        font-family: var(--font-body);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: #304049;
        margin-bottom: 2px;
    }
    .progress {
        height: 5px;
        border-radius: 0;
        position: relative;
        overflow: visible;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        background-color: transparent;
    }
    .progress span {
        right: -56px;
        top: -11px;
        font-weight: 400;
        font-size: 18px;
        color: #304049;
        position: absolute;
    }
    .progress-bar {
        width: 0;
        top: 0px;
        float: left;
        height: 5px;
        position: relative;
        -webkit-transition: 1s all ease-in-out;
        transition: 1s all ease-in-out;
        overflow: visible;
        background: linear-gradient(-221deg, rgba(254, 116, 12, 0.6) 0%, rgba(204, 58, 6, 0.6) 50%, rgba(160, 68, 68, 0.6) 100%);
    }
}
.team-single-social {
    margin-top: 66px;
    background: rgba(255, 166, 166, 0.2);
    display: inline-flex;
    @include border-radius(50px);
    padding: 0 20px;
    li {
        a {
            font-size: 20px;
            color: #304049;
            padding: 13px 19px;
            display: inline-block;
            &:hover {
                color: var(--color-primary);
                svg path {
                    fill: var(--color-primary);
                }
            }
            svg {
                width: 20px;
                path {
                    fill: #304049;
                    @include transition(.3s);
                }
            }
        }
    }
}
.team-single-form-inner {
	background-color: var(--color-white);
	padding: 68px;
	padding-right: 92px;
	@include border-radius(20px);
    margin-left: -24px;
    @include respond(laptop) {
        padding: 60px 30px;
    }
    @include respond(lg) {
        padding: 40px 25px;
        margin-left: -55px;
    }
    @include respond(md) {
        padding: 40px;
        margin-left: 0;
    }
}
.team-single-form-title {
	.xb-item {
		&--title {
			font-weight: 500;
			font-size: 40px;
			margin-bottom: 20px;
            @include respond(laptop) {
                font-size: 30px;
            }
            @include respond(lg) {
                font-size: 28px;
            }
		}
		&--content {
			font-weight: 400;
			font-size: 18px;
			color: #304049;
		}
	}
}
.team-single-form {
    input,
    textarea,
    select,
    .nice-select {
        background-color: var(--color-white);
        border-bottom: 1px solid rgba(48, 64, 73, 0.5);
        padding: 10px 0;
    }
    .nice-select {
        padding: 0;
        margin-top: 5px;
        @include border-radius(0);
    }
    .thm-btn {
        min-width: 240px;
    }
}